<div>
  <div class="plate black">
    <div class="country-box">
      <img src="./assets/flag-ru.svg" class="flag">
      <div class="code">RUS</div>
    </div>
    <div class="number-box">
      <div class="letter-sm">A</div>
      <div class="digit-lg">1</div>
      <div class="digit-lg">2</div>
      <div class="digit-lg">3</div>
      <div class="digit-lg">4</div>
      <div class="letter-sm">A</div>
      <div class="letter-sm">A</div>
    </div>
    <div class="region-box">
      <div class="digit-sm">2</div>
      <div class="digit-sm">2</div>
    </div>
  </div>
</div>