<div>
  <h1 class="col-10 mx-auto">Regular plates</h1>
  <section class="col-10 mx-auto">
    <div class="h1">Cars and trucks</div>

    <div class="plate">
      <div class="country-box">
        <img src="./assets/flag-ru.svg" class="flag">
        <div class="code">RUS</div>
      </div>
      <div class="number-box">
        <div class="serial">A</div>
        <div class="number-4">1234</div>
        <div class="serial-2">AA</div>
      </div>
      <div class="region-box">
        <div class="region-number-2">22</div>
      </div>
    </div>
    
    <div class="border-compensator"></div>
    <div class="caption">Type 1</div>
    <p class="h1">or</p>
    <div class="border-compensator"></div>

    <div class="plate">
      <div class="country-box">
        <img src="./assets/flag-ru.svg" class="flag">
        <div class="code">RUS</div>
      </div>
      <div class="number-box">
        <div class="serial-2">A</div>
        <div class="number-4">1234</div>
        <div class="serial-2">AA</div>
      </div>
      <div class="region-box">
        <div class="region-number-2">22</div>
      </div>
    </div>

    <div class="border-compensator"></div>
    <div class="caption">Type 1a</div>
    <div class="half-space-divider"></div>

    <div class="plate">
      <div class="country-box">
        <img src="./assets/flag-ru.svg" class="flag">
        <div class="code">RUS</div>
      </div>
      <div class="number-box">
        <div class="serial-2">AA</div>
        <div class="number-4">1234</div>
        <div class="serial-2">AA</div>
      </div>
      <div class="region-box">
        <div class="region-number-2">22</div>
      </div>
    </div>

    <div class="border-compensator"></div>
    <div class="caption">Type 1b</div>
  </section>
</div>