.nav-container {
  margin: 0 auto;
  padding: 0 0.75rem;
  width: 100%;
}

.nav-bar,
.nav-container {
  align-items: center;
  background-color: var(--dark);
  display: flex;
  flex-wrap: wrap;
  min-height: 56px;
  position: relative;
}

.nav-bar .nav-brand {
  align-items: center;
  display: flex;
  position: absolute;
  margin: auto 0;
  color: white;
  font-family: Bahnschrift;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
}

.nav-bar .nav-items .nav-link {
  align-items: center;
  display: flex;
  color: white;
  font-family: Bahnschrift;
  font-size: 18px;
  line-height: 18px;
  margin: 19px 6px;
  text-decoration: none;
}

.nav-bar .nav-items .nav-link:active,
.nav-bar .nav-items .nav-link:focus,
.nav-bar .nav-items .nav-link:hover,
.nav-bar .nav-toggler:focus,
.nav-bar .nav-toggler:hover {
  opacity: 75%;
}

@media screen and (max-width: 992px) {
  .nav-container {
    flex-direction: column;
  }

  .nav-bar .nav-brand {
    align-self: flex-start;
    margin: 18px 0;
    position: unset;
  }

  .nav-bar .nav-toggler {
    align-self: flex-end;
    background-color: var(--dark);
    border: none;
    content: "";
    cursor: pointer;
    display: flex;
    height: 20px;
    margin: 18px 0;
    position: absolute;
    width: 20px;
    box-sizing: content-box;
  }

  .nav-bar .nav-items {
    align-self: flex-start;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }

  .nav-bar .nav-items.expanded {
    display: flex;
  }

  .nav-bar .nav-items .nav-link {
    margin: 19px 0;
  }
}

@media screen and (min-width: 992px) {
  .nav-bar,
  .nav-container {
    flex-direction: row;
  }

  .nav-bar .nav-toggler {
    display: none;
  }

  .nav-bar .nav-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
}

@media (min-width: 576px) {
  .nav-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .nav-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .nav-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .nav-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .nav-container {
    max-width: 1320px;
  }
}