@font-face {
  font-family: Mittelschrift;
  src: url('../../assets/FE-Mittelschrift.woff2');
}

@font-face {
  font-family: Engschrift;
  src: url('../../assets/FE-Engschrift.woff2');
}

.nav-bar .nav-brand.brand-plate {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  display: flex;
  font-size: 20px;
  height: 26px;
  line-height: 20px;
  position: absolute;
  margin: 15px 3px;
  outline: 3px solid white;
}

@media screen and (max-width: 992px) {
  .nav-bar .nav-brand.brand-plate {
    position: unset;
  }
}

.brand-plate img {
  border-left: 1px solid black;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-sizing: content-box;
  height: 20px;
  width: 30px;
}

.brand-plate p {
  margin: 0 3px;
  font-family: Bahnschrift;
  font-weight: bold;
  padding-top: 2px;
}

.nav-link.link-plate::before {
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  height: 26px;
  margin-left: 3px;
  margin-right: 9px;
  outline: 3px solid white;
  width: 26px;
  content: "";
}

.nav-link.link-plate.yellow::before {
  background-color: gold;
  outline-color: gold;
}

.nav-link.link-plate.black::before,
.nav-link.link-plate.red::before,
.nav-link.link-plate.blue::before {
  background-color: black;
  border-color: white;
  outline-color: black;
}

.nav-link.link-plate.red::before {
  background-color: red;
  outline-color: red;
}

.nav-link.link-plate.blue::before {
  background-color: mediumblue;
  outline-color: mediumblue;
}

.nav-bar .nav-toggler.toggler-plate {
  border: 3px solid var(--dark);
  border-radius: 5px;
  box-sizing: border-box;
  outline: 3px solid white;
  margin: 15px 3px;
  padding: 0 1px;
  width: 26px;
  height: 26px;
}

:root {
  --flag-ru-white: #FFF;
  --flag-ru-blue: #0036A7;
  --flag-ru-red: #D62718;
  --flag-eu-blue: #039;

  --plate-border-width: calc(3px * var(--plate-scale));
  --plate-country-box-font-family: Bahnschrift;
  --plate-country-box-width: calc(45px * var(--plate-scale));
  --plate-country-code-font-size: calc(20px * var(--plate-scale));
  --plate-country-code-margin-top: calc(36px * var(--plate-scale));
  --plate-country-flag-margin-top: var(--plate-number-box-margin-top);
  --plate-country-flag-margin-bottom: calc(var(--plate-country-flag-height) * -1);
  --plate-country-flag-height: calc(20px * var(--plate-scale));
  --plate-country-flag-width: calc(30px * var(--plate-scale));
  --plate-number-box-font-family: Mittelschrift;
  --plate-number-box-margin-top: calc(12px * var(--plate-scale));
  --plate-digit-lg-height: calc(76px * var(--plate-scale));
  --plate-digit-lg-widht: calc(44.5px * var(--plate-scale));
  --plate-letter-lg-height: calc(76px * var(--plate-scale));
  --plate-letter-lg-width: calc(47.5px * var(--plate-scale));
  --plate-digit-sm-height: calc(58px * var(--plate-scale));
  --plate-digit-sm-widht: calc(33.9605px * var(--plate-scale));
  --plate-letter-sm-height: calc(58px * var(--plate-scale));
  --plate-letter-sm-widht: calc(36.25px * var(--plate-scale));
  --plate-height: calc((112px - 6px) * var(--plate-scale));
  --plate-width: calc((520px - 6px) * var(--plate-scale));
  --plate-region-box-padding-right: calc(14px * var(--plate-scale));

  --plate-border-radius: 10px;

  --plate-letter-height: calc(58px * var(--plate-scale));
  --plate-letter-width: calc(36.25px * var(--plate-scale));
  --plate-letter-2-width: calc((36.25px + 6px) * 2 * var(--plate-scale));

  --plate-digit-height: calc(76px * var(--plate-scale));
  --plate-digit-4-width: calc(44.5px * 4 * var(--plate-scale) + 6px * 4 * var(--plate-scale));
}

.plate {
  background-color: white;
  border-color: black;
  border-radius: var(--plate-border-radius);
  border-style: solid;
  border-width: var(--plate-border-width);
  box-shadow: 0 0 1px 1px black;
  color: black;
  display: flex;
  font-size: 0;
  height: var(--plate-height);
  margin: 56px auto;
  outline-color: white;
  outline-style: solid;
  outline-width: var(--plate-border-width);
  text-transform: uppercase;
  justify-content: space-between;
  width: var(--plate-width);
}

.plate.yellow {
  background-color: gold;
  outline-color: gold;
}

.plate.black,
.plate.red,
.plate.blue {
  background-color: black;
  border-color: white;
  color: white;
  outline-color: black;
}

.plate.yellow .country-box .flag,
.plate.black .country-box .flag,
.plate.red .country-box .flag,
.plate.blue .country-box .flag {
  visibility: hidden;
}

.plate.red {
  background-color: red;
  outline-color: red;
}

.plate.blue {
  background-color: mediumblue;
  outline-color: mediumblue;
}

.plate .country-box {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: inline-block;
  text-align: center;
  width: var(--plate-country-box-width);
}

.plate .country-box .flag {
  border: 1px solid black;
  box-sizing: content-box;
  margin-top: var(--plate-country-flag-margin-top);
  height: var(--plate-country-flag-height);
  width: var(--plate-country-flag-width);
}

.plate .country-box .code {
  font-family: var(--plate-country-box-font-family);
  font-size: var(--plate-country-code-font-size);
  font-weight: bold;
  margin: 0 auto;
  margin-top: var(--plate-country-code-margin-top);
  line-height: var(--plate-country-code-font-size);
  text-align: center;
}

.plate .number-box {
  display: inline-block;
  margin: var(--plate-number-box-margin-top) auto;
  width: fit-content;
}

.plate .region-box {
  display: inline-block;
  margin: var(--plate-number-box-margin-top) 0;
  width: fit-content;
}

.plate .digit-lg,
.plate .letter-lg {
  display: inline-block;
  font-size: var(--plate-digit-lg-height);
  font-family: var(--plate-number-box-font-family);
  line-height: var(--plate-digit-lg-height);
  vertical-align: bottom;
  width: var(--plate-digit-lg-widht);
}

.plate .letter-lg {
  width: var(--plate-letter-lg-widht);
}

.plate .digit-sm,
.plate .letter-sm {
  display: inline-block;
  font-size: var(--plate-digit-sm-height);
  font-family: var(--plate-number-box-font-family);
  line-height: var(--plate-digit-sm-height);
  vertical-align: bottom;
  width: var(--plate-digit-sm-widht);
}

.plate .letter-sm {
  width: var(--plate-letter-sm-widht);
}

.plate .digit-lg,
.plate .letter-lg,
.plate .digit-sm,
.plate .letter-sm,
/* .plate .digit-4,
.plate .letter-2, */
.plate .letter {
  margin-right: calc(var(--plate-border-width) * 2);
}

.plate .digit-lg:last-child,
.plate .letter-lg:last-child,
.plate .digit-sm:last-child,
.plate .letter-sm:last-child {
  margin-right: 0;
}


.plate .digit-4:last-child,
.plate .letter-2:last-child,
.plate .letter:last-child {
  margin-right: calc(var(--plate-border-width) * -2);
}

.plate .special-box {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: inline-block;
  margin-left: calc(var(--plate-border-width) * 2);
  width: var(--plate-country-box-width);
}

.plate .special-box.white {
  background-color: white;
}

.plate .special-box.yellow {
  background-color: yellow;
}

.plate .special-box.blue {
  background-color: blue;
}

.plate .special-box.red {
  background-color: red;
}

.plate .special-box.green {
  background-color: green;
}

.plate .special-box.greenyellow {
  background-color: greenyellow;
}

.plate .special-box.orange {
  background-color: orange;
}

.plate .special-box:last-child,
.plate .region-box:last-child {
  padding-right: var(--plate-region-box-padding-right);
}



.plate .letter {
  display: inline-block;
  font-size: var(--plate-letter-height);
  font-family: var(--plate-number-box-font-family);
  line-height: var(--plate-letter-height);
  vertical-align: bottom;
  width: var(--plate-letter-width);
}

.plate .letter-2 {
  display: inline-block;
  font-size: var(--plate-letter-height);
  font-family: var(--plate-number-box-font-family);
  line-height: var(--plate-letter-height);
  vertical-align: bottom;
  width: var(--plate-letter-2-width);
  letter-spacing: calc(6px * var(--plate-scale));
}

.plate .digit-4 {
  display: inline-block;
  font-size: var(--plate-digit-height);
  font-family: var(--plate-number-box-font-family);
  line-height: var(--plate-digit-height);
  vertical-align: bottom;
  width: var(--plate-digit-4-width);
  letter-spacing: calc(6px * var(--plate-scale));
}